* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

:focus {
  outline: none;
}

p+p {
  margin-top: 1.5rem;
}

body {
  color: #464646;
  background-color: #f7f7f7;
  overflow-y: scroll;
}

button {
  white-space: nowrap;
}

a {
  color: #464646;
  text-decoration: none;
}

* {
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  z-index: 2;
}

header .navbar-brand {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  max-width: 30%;
  white-space: normal;
}

header .navbar-brand .logo-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  color: #761540;
  border-radius: 50%;
  background: #fff;
}

header .nav-item {
  padding: 0 5px;
}

header .nav-link {
  position: relative;
  color: #fff;
  padding: .5rem .8rem !important;
}

header .nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 14px;
  background-color: #00aeef;
  opacity: 0;
}

header .nav-link.active,
header .nav-link:hover {
  color: #014df9;
}

header .nav-link.active::before,
header .nav-link:hover::before {
  opacity: 1;
}

header .header__btndonate {
  border: 1px solid #014df9;
  color: #fff;
  background-color: #014df9;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

header .header__btndonate:hover {
  border-color: #014df9;
  color: #014df9;
  background-color: transparent;
}

header .header__btndonate::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #014df9;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

header .header__btndonate:hover::before {
  width: 0;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.banner {
  position: relative;
  z-index: 1;
  background: #999 url("../img/banner-bg.jpg") no-repeat center/cover;
  height: 550px;
  background-size: 100% 100% !important;
}

.banner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.1875rem;
}

.banner-text h1 span {
  display: block;
}

.banner-text p {
  margin-bottom: 2rem;
}

.banner_actionbtn {
  border: 1px solid #014df9;
  color: #fff;
  background-color: #014df9;
  font-weight: 400;
  text-transform: capitalize;
  padding: .9375rem 1.1875rem;
  margin-left: 12px;
  margin-bottom: 12px;
}

.banner_actionbtn:hover {
  border-color: #014df9;
  color: #014df9;
  background-color: transparent;
}

.section {
  padding: 50px 0 40px;
}

.section-header {
  font-size: 16px;
  margin-bottom: 40px;
}

.section-header h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.sub-title {
  position: relative;
  padding-left: 30px;
}

.sub-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #00aeef;
}

.features__row {
  padding-top: 48px;
}

@media (min-width: 768px) {
  .features {
    text-align: center;
  }
}

.features-icon {
  display: inline-block;
  width: 42px;
  margin-bottom: 10px;
}

.features h2 {
  color: #014df9;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.features h3 {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.section-desc {
  position: relative;
}

.service-box {
  color: #9a9a9a;
  padding: 50px 30px;
  background-color: #fff;
  line-height: 24px;
  margin: 0 0 30px;
}

.service-box:hover .service-icon {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.service-box h2 {
  color: #000;
  font-size: 24px;
  margin: 30px 0;
}

.service-box a {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
  position: relative;
}

.service-box a:hover {
  color: #014df9;
}

.service-box a:after {
  position: absolute;
  content: "\f101";
  right: 0;
  top: 0;
  color: #00aeef;
  font-family: fontawesome;
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.service-box a:hover:after {
  right: -15px;
  opacity: 1;
}

.services-inner {
  background: yellow;
  padding: 30% 0px;
  color: white;
  cursor: pointer;
}

.services-inner img {
  width: 120px;
}

.primary-health-care {
  background: #689f39 url("../img/image-24.jpg") no-repeat center/cover;
}

.nutrition {
  background: #0090ff url("../img/image-26.jpg") no-repeat center/cover;
}

.education {
  background: #ffb200 url("../img/image-27.jpg") no-repeat center/cover;
}

.wash {
  background: #0090ff url("../img/image-26.jpg") no-repeat center/cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.sustainable-health {
  background: #e64a19 url("../img/image-25.jpeg") no-repeat center/cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.service-count-name {
  font-size: 20px;
}

.service-count-wrapper {
  font-size: 48px;
  padding: 20px 0px;
  font-weight: bold;
}

.causes {
  margin-bottom: 50px;
  overflow: hidden;
}

.causes-img {
  margin-bottom: 25px;
  position: relative;
}

.causes-img::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 174, 239, 0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.causes-img .overlay {
  position: absolute;
  bottom: 10px;
  left: -100%;
  width: 100%;
  padding: 30px;
  color: #fff;
}

.causes-img .overlay .paragraph {
  -webkit-transition: all .9s ease-out;
  transition: all .9s ease-out;
}

.causes-img .overlay .btn-primary {
  position: relative;
  color: #014df9;
  border-color: transparent;
  background-color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  margin-top: 10px;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.causes-img .overlay .btn-primary::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  background-color: #00aeef;
}

.causes-img .overlay .btn-primary:hover {
  color: #fff;
  border-color: #014df9;
}

.causes-img .overlay .btn-primary:hover::before {
  width: 100%;
}

.causes:hover .causes-img::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}

.causes:hover .overlay {
  left: 0;
}

.causes .donation {
  margin-top: 20px;
}

.causes .donation ul li:nth-child(1) {
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.causes .donation ul li:nth-child(2) {
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.causes h2 {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.causes span {
  color: #9a9a9a;
  font-size: 16px;
  text-transform: capitalize;
}

.about {
  margin-top: 50px;
}

.about h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}

.team-wrapper {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.team-wrapper .team-item .team-img {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.team-wrapper .team-item {
  flex: 0 1 200px;
  margin: 25px;
}

.team-wrapper .partner-item
{
  flex: 0 1 300px;
  margin: 5px;
}

.team-img-src {
  width: 100%;
  height: 249px;
}

.partner-img-src{
  border: 1px solid #761540;
}

.team-wrapper .team-item .team-social {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

.team-wrapper .team-item .team-social ul {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 174, 239, 0.8);
}

.team-wrapper .team-item .team-social ul li {
  margin-bottom: 5px;
  position: absolute;
  bottom: 25px;
  right: -100%;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

.team-wrapper .team-item .team-social ul li:nth-child(2) {
  bottom: 65px;
  -webkit-transition: all .7s ease-out;
  transition: all .7s ease-out;
}

.team-wrapper .team-item .team-social ul li:nth-child(3) {
  bottom: 105px;
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.team-wrapper .team-item .team-social ul li:nth-child(4) {
  bottom: 145px;
  -webkit-transition: all .9s ease-out;
  transition: all .9s ease-out;
}

.team-wrapper .team-item .team-social a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #00aeef;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
}

.team-wrapper .team-item h2 {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.team-wrapper .team-item h2 span {
  color: #9a9a9a;
}

.team-wrapper .team-item:hover .team-social {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.team-wrapper .team-item:hover .team-social li {
  right: 30px;
}

.team-item span{
  display: inline-block;
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  min-height: 40px;
}

input:focus {
  border-color: #2f6efe;
}

.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

@-webkit-keyframes checkAnimation {
  0% {
    height: 0;
    width: 0;
  }

  50% {
    height: 6px;
    width: 0;
  }

  to {
    height: 6px;
    width: 10px;
  }
}

@keyframes checkAnimation {
  0% {
    height: 0;
    width: 0;
  }

  50% {
    height: 6px;
    width: 0;
  }

  to {
    height: 6px;
    width: 10px;
  }
}

.options-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  font-weight: normal;
}

.options-checkbox input {
  position: absolute;
  opacity: 0;
  display: none;
}

.options-checkbox input:checked~.custom-checkbox:after {
  display: block;
}

.options-checkbox input:checked~.custom-radio:after {
  display: block;
}

.options-checkbox .custom-checkbox {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.options-checkbox .custom-checkbox:after {
  top: calc(50% - -1px);
  left: calc(50% - 8px);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  height: 6px;
  border-left: 2px solid #014df9;
  border-bottom: 2px solid #014df9;
  background: transparent;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation: checkAnimation 0.2s;
  animation: checkAnimation 0.2s;
}

.options-checkbox .custom-radio {
  position: relative;
  display: inline-block;
  min-width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  border-radius: 2px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.options-checkbox .custom-radio:after {
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background: #f67963;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

header {
  padding: 0.9rem 0;
  background-color: #761540;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .nav-logo .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50px;
  flex: 1 0 50px;
  height: 50px;
  color: #761540;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  background: #fff;
  border-radius: 50%;
}

nav .nav-logo>span {
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav .btn-navmenu {
  position: relative;
  border: none;
  padding: 0;
  width: 30px;
  height: 20px;
}

@media (min-width: 768px) {
  nav .btn-navmenu {
    display: none;
  }
}

nav .btn-navmenu span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform ease-in-out 400ms;
  transition: -webkit-transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms;
  transition: transform ease-in-out 400ms, -webkit-transform ease-in-out 400ms;
  background-color: #fff;
}

nav .btn-navmenu span:nth-child(1) {
  top: 0;
  left: 0;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

nav .btn-navmenu span:nth-child(2) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav .btn-navmenu span:nth-child(3) {
  left: 0;
  bottom: 0;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

nav .btn-navmenu.nav-menu--open span:nth-child(1) {
  -webkit-transform: translate(0px, 9px) rotate(45deg);
  transform: translate(0px, 9px) rotate(45deg);
}

nav .btn-navmenu.nav-menu--open span:nth-child(2) {
  background-color: transparent;
}

nav .btn-navmenu.nav-menu--open span:nth-child(3) {
  -webkit-transform: translate(0px, -9px) rotate(-45deg);
  transform: translate(0px, -9px) rotate(-45deg);
}

.logo {
  max-width: 80px;
}

.nav-listmenu {
  display: none;
  width: 100%;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .nav-listmenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: auto;
    padding: 0;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list a {
  display: block;
  font-size: 14px;
  -webkit-transition: color ease-in-out 400ms;
  transition: color ease-in-out 400ms;
  color: white;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #014df9;
}

.nav-list .dropdown-menu li {
  margin: 0;
}

.nav-list .dropdown-menu a {
  color: black;
}

.nav-list .dropdown:hover .dropdown-menu,
.nav-list .dropdown:focus .dropdown-menu {
  display: block;
}

.page-section {
  position: relative;
  padding: 100px 15px;
  background: #000 url("../img/aboutus.jpg") no-repeat center/cover;
}

.page-section::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .page-section {
    background-attachment: fixed;
  }
}

.page-section a {
  color: #fff;
  font-size: 1.125rem;
}

.page-section .breadcrumb-item.active {
  color: #fff;
  font-size: 1.125rem;
}

.page-section .breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}

.page-name {
  color: #fff;
}

.section-header h1 span {
  color: #00aeef;
}

.promotions-fluid {
  padding: 30px 15px;
  background: #181818;
}

@media only screen and (min-width: 992px) {
  .promotions-fluid {
    padding: 40px 15px;
  }
}

@media only screen and (max-width: 991px) {
  .promotions-fluid .promotion-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.promotion-box {
  color: #fff;
  padding: 17px;
}

.promotion-box p {
  margin: 0;
}

.promotions-heading {
  color: #fff;
}

.promotions-heading span {
  color: #00aeef;
}

form .form-control {
  border-radius: 4px;
  height: 50px;
  border-color: #ced4da;
  padding: 6px 20px;
  margin-bottom: 30px;
}

form textarea.form-control {
  height: auto;
  padding: 1rem;
}

form .btn-primary {
  height: 50px;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  border: 1px solid #00aeef;
  background: #00aeef;
}

form .btn-primary:hover {
  color: #00aeef;
  border-color: #00aeef;
  background: transparent;
}

.google-map {
  position: relative;
  padding-bottom: 56.25%;
}

.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .page-section {
    background-attachment: fixed;
  }
}

@media only screen and (min-width: 992px) {
  .promotions-fluid {
    padding: 40px 15px;
  }
}

@media only screen and (max-width: 991px) {
  .promotions-fluid .promotion-box:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.main-heading {
  font-size: 1.3rem;
  color: #014df9;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.section-heading {
  color: #014df9;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.donation-heading {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.btn-amount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #909090;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0.5rem 1rem 0;
  border: 2px solid #d9d9d9;
  -webkit-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
}

.btn-amount svg {
  width: 14px;
  height: auto;
  fill: #909090;
  -webkit-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
}

.btn-amount:hover,
.btn-amount:focus,
.btn-amount.active {
  color: #fff;
  border-color: #014df9;
  background-color: #014df9;
  -webkit-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
}

.btn-amount:hover svg,
.btn-amount:focus svg,
.btn-amount.active svg {
  fill: #fff;
  -webkit-transition: 400ms ease-in-out all;
  transition: 400ms ease-in-out all;
}

.btn-amount:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.or-text {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #014df9;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 700;
  padding: 0.5rem;
  color: #fff;
}

.enter-custom-amount {
  position: relative;
}

.enter-custom-amount span {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 5px 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #eeeeee;
}

.enter-custom-amount>div {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 60%;
  max-width: 100%;
}

.enter-custom-amount>div input {
  padding-left: 60px;
}

.personalinfo-wrapper {
  padding: 2rem;
  border-radius: 5px;
}

.personalinfo-heading {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.error {
  display: none;
  font-size: 70%;
  color: red;
  margin-bottom: 0.5rem;
}

.error.show {
  display: inline-block;
}

.sub-heading {
  color: #00aeef;
  font-weight: bold;
}

.btn-submit {
  display: block;
  margin-left: auto;
  color: #fff;
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  border: 1px solid #d9d9d9;
  background-color: #7ba3fe;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
  background-color: #014df9;
}

ul.arrow {
  font-size: 18px;
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

ul.arrow li {
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
}

ul.arrow li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .banner-text-container {
    top: 0;
    left: 0;
  }

  .banner-text {
    padding: 10px;
  }
}

.healthcare-tabs {
  overflow-y: auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.healthcare-tabs li:not(:last-child) {
  margin-right: 0.5rem;
}

.healthcare-tabs li button.nav-link {
  color: #fff;
  border-radius: 0;
  border: 0;
  background-color: #999;
}

.healthcare-tabs li button.nav-link.active {
  color: #fff;
  background-color: #014df9;
}

.nutri-img
{
  height: 400px;
}

/*# sourceMappingURL=styles.css.map */