
@import './reset';
@import './variable';
@import './mixins';

body {
    color: #464646;
    background-color: #f7f7f7;
      overflow-y: scroll;  
}


button {
  white-space: nowrap;
}

a {
    color: #464646;
    text-decoration: none;
}

* {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;   
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    z-index: 2;

    .navbar-brand {
      align-items: center;
      font-size: 16px;
      text-transform: uppercase;
      max-width: 30%;
      white-space: normal;
    
      .logo-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 60px;
        height: 60px;
        margin-right: 10px;
        color: #761540;
        border-radius: 50%;
        background: #fff;
      }
    }
    .nav-item {
        padding: 0 5px;
    }

    .nav-link {
        position: relative;
        color: $white;
        padding: .5rem .8rem !important;
        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 14px;
            background-color: #00aeef;
            opacity: 0;
        }

        &.active , &:hover {
            color: $primaryColor;

            &::before {
                opacity: 1;
            }
        }
    }

    .header__btndonate {
        @include btnStyles;
        background-color: transparent;
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: $primaryColor;
            transition: 0.5s ease-in-out all;
        }

        &:hover::before {
            width: 0;
            transition: 0.5s ease-in-out all;
        }
    }
}
.banner {
    position: relative;
    z-index: 1;
    background: #999 url('../img/banner-bg.jpg') no-repeat center / cover;
    height: 380px;
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0,0,0,.4);
    }
    &-text {
        // padding: 260px 0 140px;
        
        h1 {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 2.1875rem;
    
            & span {
                display: block;
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }
    &_actionbtn {
        @include btnStyles;
        font-weight: 400;
        text-transform: capitalize;
        padding: .9375rem 1.1875rem;
        margin-left: 12px;
        margin-bottom: 12px;
    }
}

.section {
    padding: 50px 0 40px;

    &-header {
        font-size: 16px;
        margin-bottom: 40px;

        & h1{
            font-size: 32px;
            margin-bottom: 30px;
        }
    }
}

.sub-title {
    position: relative;
    padding-left: 30px;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: #00aeef;
    }
}

.features__row {
    padding-top: 48px;
}

.features {
    @include breakpoint-up(medium) {
        text-align: center;
    }

    &-icon {
        display: inline-block;
        width: 42px;
        margin-bottom: 10px;
    }

    h2 {
        color: $primaryColor;
        font-size: 24px;
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }

    h3 {
        color: $white;
        font-weight: 400;
        font-size: 18px;
    }
}

.section-desc {
    position: relative;

    // &:before {
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     left: 0;
    //     content: "\f105";
    //     font-family: fontawesome;
    //     font-size: 60px;
    //     color: $primaryColor;
    //     background-color: transparent;
    // }
}
    
.service-box{
    color: #9a9a9a;
    padding: 50px 30px;
    background-color: #fff;
    line-height: 24px;
    margin: 0 0 30px;

    &:hover .service-icon {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    & h2 {
        color: #000;
        font-size: 24px;
        margin: 30px 0;
    }

    & a {
        color: gray;
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        display: inline-block;
        position: relative;

        &:hover {
            color: $primaryColor;
        }
        
        &:after {
            position: absolute;
            content: "\f101";
            right: 0;
            top: 0;
            color: #00aeef;
            font-family: fontawesome;
            opacity: 0;
            -webkit-transition: all 500ms;
            -moz-transition: all 500ms;
            -ms-transition: all 500ms;
            -o-transition: all 500ms;
            transition: all 500ms;
        }
        
        &:hover:after {
            right: -15px;
            opacity: 1;
        }
    }
}
.services-inner{
  background: yellow;
  padding: 30% 0px;
  color: white;
  cursor: pointer;
  img{
    width: 120px;
  }
}

.primary-health-care{
  
  background:#689f39 url("../img/image-24.jpg") no-repeat center / cover;
  // background-position: center !important;
  // background-repeat: no-repeat !important;
  // background-size: cover !important;

}
.nutrition{
  background:  #0090ff url("../img/image-26.jpg") no-repeat center / cover;  
  

}
.education{
  background:#ffb200 url("../img/image-27.jpg") no-repeat center / cover  ;

}
.wash {
  background:  #0090ff url("../img/image-26.jpg") no-repeat center / cover;  
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

}
.sustainable-health{
  background: #e64a19 url("../img/image-25.jpeg") no-repeat center / cover  ;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

}
.service-count-name{
  font-size: 20px;
}
.service-count-wrapper{
  font-size: 48px;
  padding: 20px 0px;
  font-weight: bold;
}
.causes {
    margin-bottom: 50px;
    overflow: hidden;

    &-img {
        margin-bottom: 25px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 5px solid rgba(255,255,255,.8);
            background-color: rgba(0,174,239,.8);
            -webkit-transform: scale(.8);
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            transform: scale(.8);
            opacity: 0;
            transition: 0.5s ease-in-out all;
        }

        & .overlay {
            position: absolute;
            bottom: 10px;
            left: -100%;
            width: 100%;
            padding: 30px;
            color: #fff;

            & .paragraph {
                -webkit-transition: all .9s ease-out;
                -moz-transition: all .9s ease-out;
                -ms-transition: all .9s ease-out;
                -o-transition: all .9s ease-out;
                transition: all .9s ease-out;
            }

            .btn-primary {
                position: relative;
                color: $primaryColor;
                border-color: transparent;
                background-color: #fff;
                padding: 8px 20px;
                font-size: 14px;
                margin-top: 10px;
                -webkit-transition: all .6s ease-out;
                -moz-transition: all .6s ease-out;
                -ms-transition: all .6s ease-out;
                -o-transition: all .6s ease-out;
                transition: all .6s ease-out;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    z-index: 1;
                    background-color: #00aeef;
                }

                &:hover {
                    color: $white;
                    border-color: $primaryColor;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &:hover {

        & .causes-img::before {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            transition: 0.5s ease-in-out all;
        }

        & .overlay {
            left: 0;
        }
    }

    .donation {
        margin-top: 20px;
        
        & ul li:nth-child(1) {
            -webkit-transition: all .8s ease-out;
            -moz-transition: all .8s ease-out;
            -ms-transition: all .8s ease-out;
            -o-transition: all .8s ease-out;
            transition: all .8s ease-out;
        }

        & ul li:nth-child(2) {
            -webkit-transition: all .7s ease-out;
            -moz-transition: all .7s ease-out;
            -ms-transition: all .7s ease-out;
            -o-transition: all .7s ease-out;
            transition: all .7s ease-out;
        }
    }
    
    h2 {
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    span {
        color: #9a9a9a;
        font-size: 16px;
        text-transform: capitalize;
    }
}

.about {
    margin-top: 50px;

    & h2 {
        color: #000;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.team-wrapper {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;

    .team-item {
        & .team-img {
            position: relative;
            margin-bottom: 25px;
            overflow: hidden;
        }

        & .team-social {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 5px solid rgba(255,255,255,.8);
            -webkit-transform: scale(.8);
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            transform: scale(.8);
            opacity: 0;

            ul {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0,174,239,.8);

                & li {
                    margin-bottom: 5px;
                    position: absolute;
                    bottom: 25px;
                    right: -100%;
                    -webkit-transition: all .6s ease-out;
                    -moz-transition: all .6s ease-out;
                    -ms-transition: all .6s ease-out;
                    -o-transition: all .6s ease-out;
                    transition: all .6s ease-out;

                    &:nth-child(2) {
                        bottom: 65px;
                        -webkit-transition: all .7s ease-out;
                        -moz-transition: all .7s ease-out;
                        -ms-transition: all .7s ease-out;
                        -o-transition: all .7s ease-out;
                        transition: all .7s ease-out;
                    }
                    
                    &:nth-child(3) {
                        bottom: 105px;
                        -webkit-transition: all .8s ease-out;
                        -moz-transition: all .8s ease-out;
                        -ms-transition: all .8s ease-out;
                        -o-transition: all .8s ease-out;
                        transition: all .8s ease-out;
                    }
        
                    &:nth-child(4) {
                        bottom: 145px;
                        -webkit-transition: all .9s ease-out;
                        -moz-transition: all .9s ease-out;
                        -ms-transition: all .9s ease-out;
                        -o-transition: all .9s ease-out;
                        transition: all .9s ease-out;
                    }
                }
            }
            
            & a {
                width: 35px;
                height: 35px;
                line-height: 35px;
                color: #00aeef;
                font-size: 18px;
                text-align: center;
                display: inline-block;
                background-color: #fff;
                border-radius: 4px;
            }
        }

        & h2 {
            color: #000;
            font-weight: 600;
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 0;

            & span {
                color: #9a9a9a;
            }
        }

        &:hover .team-social {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);

            li {
                right: 30px;
            }
        }
    }
}

.ai-center {
    align-items: center;
  }
  
  .jc-between {
    justify-content: space-between;
  }
  
  input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    min-height: 40px;
  
    &:focus {
      border-color: lighten($primaryColor, 10%);
    }
  }
  
  .overflow-auto {
    overflow: auto;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  @keyframes checkAnimation {
    0% {
      height: 0;
      width: 0;
    }
    50% {
      height: 6px;
      width: 0;
    }
    to {
      height: 6px;
      width: 10px;
    }
  }
  .options-checkbox {
    display: inline-flex;
    margin-bottom: 0;
    font-weight: normal;
    input {
      position: absolute;
      opacity: 0;
      display: none;
      &:checked {
        ~ {
          .custom-checkbox {
            &:after {
              display: block;
            }
          }
          .custom-radio {
            &:after {
              display: block;
            }
          }
        }
      }
    }
    .custom-checkbox {
      position: relative;
      display: inline-block;
      min-width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      border-radius: 2px;
      border: 1px solid #d9d9d9;
      background-color: $white;
      &:after {
        top: calc(50% - -1px);
        left: calc(50% - 8px);
        transform: rotate(-45deg);
        width: 12px;
        height: 6px;
        border-left: 2px solid $primaryColor;
        border-bottom: 2px solid $primaryColor;
        background: transparent;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-animation: checkAnimation 0.2s;
        animation: checkAnimation 0.2s;
      }
    }
    .custom-radio {
      position: relative;
      display: inline-block;
      min-width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      border-radius: 2px;
      background-color: #f2f2f2;
      border-radius: 50%;
      &:after {
        border-radius: 50%;
        height: 9px;
        width: 9px;
        background: #f67963;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .custom-checkbox {
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  .custom-radio {
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }
  
  header {
    padding: 0.9rem 0;
    background-color: $redColor;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
  
      .nav-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex: 1 0 50px;
          height: 50px;
          color: $redColor;
          font-size: 1.2rem;
          margin-right: 0.5rem;
          background: $white;
          border-radius: 50%;
        }
  
        > span {
          color: $white;
          text-transform: uppercase;
        }
      }
  
      @include breakpoint-up(medium) {
        & {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
  
      a {
        display: inline-flex;
      }
  
      @include navbar-btn;
    }
  
    .logo {
      max-width: 80px;
    }
  
    .nav-listmenu {
      display: none;
      width: 100%;
      padding-top: 1rem;
  
      @include breakpoint-up(medium) {
        display: flex !important;
        width: auto;
        padding: 0;
      }
    }
  
    .nav-list {
      list-style: none;
      padding: 0;
      margin: 0;
  
      @include breakpoint-up(medium) {
        & {
          display: flex;
        }
      }
  
      a {
        display: block;
        font-size: 14px;
        transition: color ease-in-out 400ms;
        color: lighten($white, 5%);
        &:hover,
        &:focus {
          color: $primaryColor;
        }

      }
      .dropdown-menu{
        li{
          margin: 0;
        }
        a{
        color: black;
       }

      }
      .dropdown{
        &:hover,&:focus{
          .dropdown-menu{
            display: block;
          }
        }
      }
      @include breakpoint-up(medium) {
        & li {
          // margin-left: 1rem;
        }
      }
    }
  

    .page-section {
      position: relative;
      padding: 100px 15px;
      background: #000 url('../img/aboutus.jpg') no-repeat center / cover;
      &::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
      }

      @media only screen and (min-width: 768px) {
        & {
          background-attachment: fixed;
        }
        
      }

    a {
      color: #fff;
      font-size: 1.125rem;
    }
    .breadcrumb-item.active {
      color: #fff;
      font-size: 1.125rem;
    }
    .breadcrumb-item+.breadcrumb-item {
      &::before {
        color: #fff;
      }
    }
  }
  .page-name {
    color: #fff;
  }
  .section-header {
    h1 {
      span {
        color: #00aeef;
      }
    }
  }
  .promotions-fluid {
    padding: 30px 15px;
    background: #181818;

    @media only screen and (min-width: 992px) {
      & {
        padding: 40px 15px;
      }
    }

    @media only screen and (max-width: 991px) {
      & .promotion-box:not(:last-child) {
        margin-bottom: 2rem
      }
    }
  }
  
  .promotion-box {
    color: #fff;
    padding: 17px;
    p {
      margin: 0;
    }
  }
  .promotions-heading {
    color: #fff;
    span {
      color: #00aeef;
    }
  }
  form {
    .form-control {
      border-radius: 4px;
      height: 50px;
      border-color: #ced4da;
      padding: 6px 20px;
      margin-bottom: 30px;
    }
    textarea.form-control {
      height: auto;
      padding: 1rem;
    }
    .btn-primary {
      height: 50px;
      color: #fff;
      font-weight: bold;
      padding: 5px 15px;
      border: 1px solid #00aeef;
      background: #00aeef;
      &:hover {
        color: #00aeef;
        border-color: #00aeef;
        background: transparent;
      }
    }
  }
  .google-map {
    position: relative;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    .page-section {
      background-attachment: fixed;
    }
  }
  @media only screen and (min-width: 992px) {
    .promotions-fluid {
      padding: 40px 15px;
    }
  }
  @media only screen and (max-width: 991px) {
    .promotions-fluid {
      .promotion-box {
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }
    }
  } 
    
  .main-heading {
    font-size: 1.3rem;
    color: $primaryColor;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  
  .section-heading {
    color: $primaryColor;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  
  .donation-heading {
    font-size: 1rem;
    color: #444;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .text-center {
    text-align: center;
  }
  
  .btn-amount {
    display: inline-flex;
    color: #909090;
    font-weight: 700;
    align-items: center;
    margin: 0 0.5rem 1rem 0;
    border: 2px solid #d9d9d9;
    transition: 400ms ease-in-out all;
  
    svg {
      width: 14px;
      height: auto;
      fill: #909090;
      transition: 400ms ease-in-out all;
    }
  
    &:hover,
    &:focus,
    &.active {
      color: $white;
      border-color: $primaryColor;
      background-color: $primaryColor;
      transition: 400ms ease-in-out all;
  
      svg {
        fill: $white;
        transition: 400ms ease-in-out all;
      }
    }
  
    &:active {
      transform: scale(1.05);
    }
  }
  
  .or-text {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background: $primaryColor;
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.5rem;
    color: $white;
  }
  
  .enter-custom-amount {
    position: relative;
  
    span {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      border-radius: 5px 0 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      background-color: #eeeeee;
    }
  
    > div {
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      width: 60%;
      max-width: 100%;
  
      input {
        padding-left: 60px;
      }
    }
  }
  
  .personalinfo-wrapper {
    padding: 2rem;
    border-radius: 5px;
  }
  
  .personalinfo-heading {
    font-size: 1rem;
    color: #444;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  
  .error {
    display: none;
    font-size: 70%;
    color: red;
    margin-bottom: 0.5rem;
  
    &.show {
      display: inline-block;
    }
  }
  .sub-heading{
    color: #00aeef;
    font-weight: bold;
  }
  .btn-submit {
    display: block;
    margin-left: auto;
    color: $white;
    padding: 0.8rem 1.5rem;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    background-color: lighten($primaryColor, 25%);
  
    &:hover,
    &:focus,
    &:active {
      background-color: lighten($primaryColor, 0);
    }
  }
  ul.arrow {
    font-size: 18px;
	line-height: 1.5em;
	margin: 5px 0 15px;
	padding: 0;
    li {
      list-style: none;
      position: relative;
      padding: 0 0 0 20px;
    
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        width: 5px;
        height: 5px;
        background-color:black;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
      }
    }
  }
  @media only screen and (min-width:768px){
    .banner-text-container{
      color: $white;
      top: 0;
      left:0;
    }
    .banner-text{
      padding: 20% 0 0;
    }
  }
  
  .healthcare-tabs {
    overflow-y: auto;
    flex-wrap: nowrap;
    li {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  button.nav-link{
    color: #fff;
    border-radius: 0;
    border: 0;
    background-color: #999;

    &.active {
      color: #fff;
      background-color: $primaryColor;
    }
  }
  }
}