* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

:focus {
  outline: none;
}

p + p {
  margin-top: 1.5rem;
}
