$primaryColor: #014df9;
$white: #fff;
$breakpoints-up: ("small": "576px", "medium": "768px", "large": "992px", "xlarge": "1200px");
$breakpoints-down: ("small": "575px", "medium": "767px", "large": "991px", "xlarge": "1199px");

$greenColor: #638c1c;
$yellowColor: #ffab00;
$redColor: #761540;
$adminSidebar: #222d32;
